#ignore dir
/sdk/toolchains
/sdk/software/examples
/vivado24.2/
/rtl/ip/PLL_2019_2/
/fpga/.Xil/
/fpga/fpga/
/fpga/project/
/sim/module_sim/
/sdk/software/apps/*/obj

#ignoring files
*.log
*.tmp
*.bin
*.mif
*.str
*.jou

